footer {
    background-color: #C46B47;
    color: #7f462f;
    padding: 13px 100px;
    text-align: center;
    margin-top: auto;
    /* margin-top tillsammans med height 100% på
    body och html gör att den hamnar längst ner */
}

footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-bottom: 0;
}

