.body-garden {
    background-color: #eff7e7;
}

.siteheader-garden {
    background-color: #5b872e;
    text-align: center;
    padding: 5px;
    color: #dae7ce;
    text-decoration: none;
    font-family: 'Pangolin', cursive;
    font-size: 6rem;
    border-bottom: 3px solid #39531e;
}

.container-garden {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sitefooter-garden {
    border-top: 3px solid #533411;
    background-color: #8d581c;
}

.sitefooter-garden p {
    font-size: 1.1rem;
    color: #e8d7c3;
    font-family: 'Patrick Hand', cursive;
    transform: scale(1, .9);
}