.garden-enter {
    margin-bottom: 10px;
}

.garden {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

.plants-container {
    display: flex;
    gap: 30px;
    margin: auto;
}

.seed-bag {
    margin: auto;
    text-align: center;
}

.seed-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tool-container {
    margin: auto;
    min-width: 143px;
}

.instructions {
    margin: auto;
    text-align: center;
    max-width: 60%;
}

.hidden {
    visibility: hidden;
}

.economic-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.history-container {
    display: flex;
    flex-direction: column;
}

.arrow p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    transform: scale(1, .9);
    color: rgb(77, 125, 49);
}

.about-container {
    display: flex;
    flex-direction: column;
    max-width: 650px;
}

.about-text-container {
    border: 3px solid rgb(77, 125, 49);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(231, 243, 225);;
}

.about-text-container h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.about-text-container p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
