.body-garden {
    background-color: #eff7e7;
    /* cursor: url(../img/ToolWaterCan.png) 2 2, default; */
}

.siteheader-garden {
    background-color: #5b872e;
    text-align: center;
    color: #dae7ce;
    text-decoration: none;
    font-family: 'Pangolin', cursive;
    font-size: 5rem;
    border-bottom: 4px solid #39531e;
}

.garden-container {
    display: flex;
    /* gap: 60px; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-evenly;
}

.sitefooter-garden {
    border-top: 4px solid #533411;
    background-color: #8d581c;
}

.sitefooter-garden p {
    font-size: 1.1rem;
    color: #e8d7c3;
    font-family: 'Patrick Hand', cursive;
    transform: scale(1, .9);
}

#cursor {
    pointer-events: none;
    max-width: 32px;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.flex-row {
    display: flex;
    gap: 20px;
}