.garden-enter {
    margin-bottom: 10px;
}

.plants-container {
    display: flex;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.seed-bag {
    text-align: center;
}

.seed-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tool-container {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 143px;
}

.instructions {
    margin: auto;
    text-align: center;
    max-width: 60%;
}

.hidden {
    visibility: hidden;
}

.economic-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

