.img {
    max-width: 150px;;
}

.img-icon {
    max-width: 50px;
    display: block;
    margin: auto;
    margin-bottom: 0px;
}

.img-icon:hover {
    cursor: pointer;
}

.puddle {
    margin: auto;
    margin-top: 0;
}