.img-header {
    max-width: 400px;
}

.img-vert {
    max-width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 40px;

}

.img-horiz {
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}