h1,
h2,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin-top: 0;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
    color: rgb(60, 60, 60);
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1.4rem;
    color: rgb(130, 130, 130);
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(84, 84, 84);
}

p {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(60, 60, 60);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1.4rem;
}

.retro-font {
    font-family: 'VT323', monospace;
    text-align: center;
}

.warning {
    color: rgb(184, 75, 75);
}

a {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.greyed-out {
    color: rgb(130, 130, 130);
}

figcaption {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 40px;
}