{% extends 'pokemon/base-pok.html.twig' %}

{% block title %}
Pokedex | Catch
{% endblock %}

{% block sidebar %}

    <h1>Fånga en ny pokemon</h1>
    <form action="{{ path("catch-process") }}" method="post" class="table">
        <label for="name">Namn:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="type">Typ:</label>
        <input type="text" id="type" name="type"><br><br>
        <label for="attack">Attack:</label>
        <input type="text" id="attack" name="attack"><br><br>
        <label for="hp">Hp:</label>
        <input type="text" id="hp" name="hp"><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br><br>
        <input type="submit" value="Lägg till">
    </form>

{% endblock %}

