{% extends 'pokemon/base-pok.html.twig' %}

{% block title %}
Pokedex | Catch
{% endblock %}

{% block content %}

    <h1 class="retro-font">Fånga en ny pokemon</h1>
    <form action="{{ path("catch-process") }}" method="post" class="retro-font">
        <label for="name">NAMN:</label>
        <input type="text" id="name" name="name" class="retro-font"><br><br>
        <label for="type">TYP:</label>
        <input type="text" id="type" name="type" class="retro-font"><br><br>
        <label for="attack">ATTACK:</label>
        <input type="text" id="attack" name="attack" class="retro-font"><br><br>
        <label for="hp">HP:</label>
        <input type="text" id="hp" name="hp" class="retro-font"><br><br>
        <label for="description">DESCRIPTION:</label>
        <input type="text" id="description" name="description" class="retro-font"><br><br>
        <input type="submit" value="FÅNGA" class="retro-font">
    </form>

{% endblock %}

