{% extends 'pokemon/base-pok.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block content %}
    <h1 class="retro-font">Inloggad på BILL's: PC</h1>
    <h2 class="retro-font">Kom ihåg: Gotta catch em all!</h2>
{% endblock %}
