{% extends 'pokemon/base-pok.html.twig' %}

{% block title %}
Pokedex | Release
{% endblock %}

{% block content %}

<h1 class="retro-font">{{ pokemon.name }}</h1>

<p class="retro-font warning">ÄR DU SÄKER PÅ ATT DU VILL BEFRIA DENNA POKEMON?</p>

<div class="flex-row">

<form action="{{ path("release-process") }}" method="post">
	<input type="hidden" id="id" name="id" value={{pokemon.id}}>
	<input type="submit" value="JA" class="retro-font"><br><br>
</form>

<a href="{{path("pokedex")}}"><button type="button" class="retro-font">NEJ</button></a>

</div>

{% endblock %}

