{% extends "card/card-base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block cardcontent %}

    <h1>Välkommen till Kortens hemsida!</h1>

    <h2>Välj bland flikarna för att använda korten på olika sätt</h2>

{% endblock %}

