{% extends "garden/base.html.twig" %}
{% block title %} The Garden | About {% endblock %}

{% block content %}

	<div class="arrow">
		<a href="{{ path("garden-statistics") }}"><img src="../../img/arrowLeft.png" alt="flower 1" width="50" class="cursor-pointer"></a>
		<p>HISTORY</p>
	</div>


	<div class="about-container">

    <h1>About</h1>

	<div class="about-text-container">

	{{ include('garden/md/about.markdown.twig')|markdown_to_html }}

	</div>

	</div>

	<div class="arrow">
		<a href="{{ path("garden-customer") }}"><img src="../../img/arrowRight.png" alt="flower 1" width="50" class="cursor-pointer"></a>
		<p>CUSTOMER</p>
	</div>


{% endblock %}

