{% extends "garden/base.html.twig" %}
{% block title %} The Garden | About {% endblock %}

{% block content %}

	<div class="arrow">
		<a href="{{ path("garden") }}"><img src="../../img/arrowLeft.png" alt="path to garden page" width="50" class="cursor-pointer"></a>
		<p>GARDEN</p>
	</div>


	<div class="about-container">

    <h1>About</h1>

	<div class="about-text-container">

	{{ include('garden/md/about.markdown.twig')|markdown_to_html }}


	</div>

	</div>

	<div class="arrow">
		<a href="{{ path("garden-history") }}"><img src="../../img/arrowRight.png" alt="path to history page" width="50" class="cursor-pointer"></a>
		<p>HISTORY</p>
	</div>


{% endblock %}

