{% extends "garden/base.html.twig" %}
{% block title %}
	The Garden | Customer
{% endblock %}

{% block content %}

    <div class="garden-container">

    <p>{{message}}</p>

    <a href="{{ path("garden") }}">TO GARDEN</a>

    </div>

{% endblock %}

