{% extends "garden/base.html.twig" %}
{% block title %}
	The Garden
{% endblock %}

{% block content %}

    <div class="garden-field">
    <img src="../../img/IconWaterCan.png" class="img-icon" alt="water can tool">
    </div>


{% endblock %}

