{% extends "garden/base.html.twig" %}
{% block title %} The Garden {% endblock %}

{% block content %}

	<div>

    <h1>Welcome</h1>

    <form action="{{ path("garden") }}" method="get">
        <input type="submit" value="Tend to your garden">
    </form>


    <p>Here you can make things grow! </p>

    <article class="instructions">
		<h2>Instructions</h2>
		<p>
		First click on one of the seeds.
		Then click an empty site to plant it in.
		Next click on the water tool.
		Finally click on the plant to make it grow.
		</p>
	</article>

	</div>

	<div>
		<h2>Log in</h2>
		<form action="{{ path("login-process") }}" method="post">
			<label for="acronym">Acronym:</label><br>
			<input type="text" id="acronym" name="acronym" placeholder='E.g. "erna"'><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" placeholder="*****"><br><br>

			<input type="submit" value="Log in">
		</form>

		<h2>Register</h2>
		<form action="{{ path("register-process") }}" method="post">
			<label for="fname">First name:</label><br>
			<input type="text" id="fname" name="fname" placeholder="At least two letters"><br>
			<label for="lname">Last name:</label><br>
			<input type="text" id="lname" name="lname" placeholder="At least two letters"><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" placeholder="Secret password"><br><br>

			<input type="submit" value="Register">
		</form>

	</div>



{% endblock %}

