{% extends "garden/base.html.twig" %}
{% block title %} The Garden {% endblock %}

{% block content %}

    <h1 class="garden-welcome">Welcome</h1>

    <form action="{{ path("garden") }}" method="get" class="garden-enter">
        <input type="submit" value="Tend to your garden">
    </form>


    <p>Here you can make things grow! </p>

    	<article class="instructions">
			<h2>Instructions</h2>
			<p>
			First click on one of the seeds.
			Then click a ground site to plant it in.
			Next click on the water tool.
			Finally click on the plant to make it grow.
			</p>
	</article>

{% endblock %}

