{% extends "base.html.twig" %}

{% block title %}Debug{% endblock %}

{% block sidebar %}
    <h1>Debugging mode</h1>
    <p>{{ message }}</p>
    <p>{{ number }}</p>
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

